# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Test for Marcias Project.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\- Git Repositorys\Testing-for-Marcias-Project\Test for Marcias Project\.idea\.idea.Test for Marcias Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
